* {
    box-sizing: border-box;
}

.wrapper {
    padding: 50px;
    padding-bottom: 470px;
    background-color: rgb(153, 207, 131);
    display: flex;
    justify-content: space-around;
}

.card {
    width: 300px;
    height: 420px;
    border-radius: 20px;
    margin-bottom: 50px;
    position: relative;
    perspective: 1000px;
    background: transparent;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s ease;
    transform-style: preserve-3d;
}

.card:not(.is-flipped) .card-inner {
    animation-name: flip-cycle;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.card.is-flipped .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    inset: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: white;
    border-radius: 20px;
    border: 1px solid black;
}

.card-back {
    transform: rotateY(180deg);
}

h1 {
    font-size: 40px;
    color: #D71E00;
    margin: 0;
    padding: 0;
}

.clubs h1,
.spades h1 {
    color: black;
}

.header-top {
    position: absolute;
    text-align: center;
    top: 8px;
    left: 12px;
}

.header-bottom {
    position: absolute;
    text-align: center;
    bottom: 8px;
    right: 12px;
}

.main {
    height: 100%;
    padding: 0 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    position: relative;
}

#jackred,
#jackblack,
#kingred,
#kingblack,
#qblack,
#qred {
    position: absolute;
}

.main-extra {
    height: 100%;
    display: grid;
    padding: 0 30px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
    position: relative;
}

.rotated {
    transform: rotate(180deg);
}

.extra-top {
    position: absolute;
    top: 110px;
}

.extra-center {
    position: absolute;
}

.extra-bottom {
    position: absolute;
    bottom: 110px;
}

.extra-top-ten {
    position: absolute;
    top: 70px;
}

.extra-bottom-ten {
    position: absolute;
    bottom: 70px;
}

.ace {
    position: absolute;
}


/*
@keyframes flip-cycle {
    0% {
        transform: rotateY(0);
    }

    20% {
        transform: rotateY(180deg);
    }

    35% {
        transform: rotateY(180deg);
    }

    55% {
        transform: rotateY(0);
    }

    100% {
        transform: rotateY(0);
    }
}

.hearts .card:nth-child(1) .card-inner { animation-delay: 2.18s; }
.hearts .card:nth-child(2) .card-inner { animation-delay: 3.42s; }
.hearts .card:nth-child(3) .card-inner { animation-delay: 2.76s; }
.hearts .card:nth-child(4) .card-inner { animation-delay: 3.91s; }
.hearts .card:nth-child(5) .card-inner { animation-delay: 2.33s; }
.hearts .card:nth-child(6) .card-inner { animation-delay: 3.14s; }
.hearts .card:nth-child(7) .card-inner { animation-delay: 2.89s; }
.hearts .card:nth-child(8) .card-inner { animation-delay: 3.67s; }
.hearts .card:nth-child(9) .card-inner { animation-delay: 2.54s; }

.spades .card:nth-child(1) .card-inner { animation-delay: 3.08s; }
.spades .card:nth-child(2) .card-inner { animation-delay: 2.21s; }
.spades .card:nth-child(3) .card-inner { animation-delay: 3.74s; }
.spades .card:nth-child(4) .card-inner { animation-delay: 2.66s; }
.spades .card:nth-child(5) .card-inner { animation-delay: 3.39s; }
.spades .card:nth-child(6) .card-inner { animation-delay: 2.97s; }
.spades .card:nth-child(7) .card-inner { animation-delay: 3.88s; }
.spades .card:nth-child(8) .card-inner { animation-delay: 2.47s; }
.spades .card:nth-child(9) .card-inner { animation-delay: 3.19s; }

.diamonds .card:nth-child(1) .card-inner { animation-delay: 2.84s; }
.diamonds .card:nth-child(2) .card-inner { animation-delay: 3.56s; }
.diamonds .card:nth-child(3) .card-inner { animation-delay: 2.29s; }
.diamonds .card:nth-child(4) .card-inner { animation-delay: 3.11s; }
.diamonds .card:nth-child(5) .card-inner { animation-delay: 2.67s; }
.diamonds .card:nth-child(6) .card-inner { animation-delay: 3.94s; }
.diamonds .card:nth-child(7) .card-inner { animation-delay: 2.14s; }
.diamonds .card:nth-child(8) .card-inner { animation-delay: 3.48s; }
.diamonds .card:nth-child(9) .card-inner { animation-delay: 2.91s; }

.clubs .card:nth-child(1) .card-inner { animation-delay: 3.62s; }
.clubs .card:nth-child(2) .card-inner { animation-delay: 2.45s; }
.clubs .card:nth-child(3) .card-inner { animation-delay: 3.07s; }
.clubs .card:nth-child(4) .card-inner { animation-delay: 2.26s; }
.clubs .card:nth-child(5) .card-inner { animation-delay: 3.89s; }
.clubs .card:nth-child(6) .card-inner { animation-delay: 2.73s; }
.clubs .card:nth-child(7) .card-inner { animation-delay: 3.31s; }
.clubs .card:nth-child(8) .card-inner { animation-delay: 2.98s; }
.clubs .card:nth-child(9) .card-inner { animation-delay: 3.54s; }

*/